.navBar {
    height: 60px;
    padding: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navBar * {
    height: 100%;
}

@media (min-width: 768px) {
    .container {
        width: 740px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

.searchDiv {
    display: flex;
    border: solid 1px var(--base-color);
    border-radius: 15px;
    width: 50%;
}

.searchDiv * {
    background-color: transparent;
    border: none;
}

.searchDiv input {
    outline: none;
    padding: 0 5px;
    width: 100%;
}

.searchDiv button {
    height: 100%;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 15px 0;
}

.searchDiv button:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

.searchDiv i {
    height: auto;
    color: var(--base-color);
}